@import url(https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Courgette&family=Dancing+Script:wght@600&family=Passion+One&display=swap);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lavender;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex; 
    align-items: center;
    justify-content: center;
}

header img {
    height: 64px;
    width: 64px;
}

header h1 {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    margin-left: 10px;
}

nav ul li .nav-link {
    font-size: 1.1em;
    text-decoration: none;
    padding: .3em .5em;
    margin: 0em .5em;
    display: block;
    color: navy;
    font-weight: bold;
    transition: color 1s, transform 0.7s;
    background-color: white;
}

nav ul li .nav-link:hover {
    color: navy;
    transform: scale(1.1);
}

#cartelera h2, #pelicula_en_cartelera h2, .slide-container h2, .text_align_center h2, #bottominfo h2, #promociones h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: navy;
}

#pelicula_en_cartelera .btn-navy {
    background-color: #091dab;
    color: white;
    font-size: 14px;
}

#pelicula_en_cartelera .h4 {
    font-weight: bold;
}

#cartelera .btn-custom {
    color: #ffffff;
    background-color: #087cfc;
}

#cartelera .btn-custom:hover {
    background-color: transparent; 
    border: 2px solid #087cfc; 
    color: #087cfc; 
    transition: all 0.3s ease;
}

#pelicula_en_cartelera .btn-custom {
    color: #ffffff;
    background-color: #7c00ba;
}

#pelicula_en_cartelera .btn-custom:hover {
    background-color: transparent; 
    border: 2px solid #7c00ba; 
    color: #7c00ba; 
    transition: all 0.3s ease;
}

.video-thumbnail {
    position: relative;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: #7c00ba; /* Cambia el color aquí */
    /*background-color: transparent; /* Puedes establecer un color de fondo si lo deseas */
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(255, 255, 255); /* Sombra azul con transparencia del 50% */

}

.play-icon:hover {
    box-shadow: 0 0 50px rgb(192, 0, 222); /* Sombra azul con transparencia del 50% */

}

.swiper-container .cart {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 20px 60px;
  box-shadow: 0 0 10px #b9ffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.swiper-container .cart .image {
  width: 150px;
  height: 150px;
  padding: 3px;
  border: 3px solid #2064b4;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}
.swiper-container .cart .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.cart h3 {
  color: #7c00ba;
  font-weight: bold;
  text-align: center;
}

.cart h6 {
  color: #ac6ace;
}
.cart p {
  text-align: justify;
}
.swiper-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 50vh;
}
.swiper {
  margin: 0 auto;
  cursor: grab;
}
.swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
.swiper-container .swiper-button-next::after,
.swiper-container .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.swiper-container .swiper-button-next:hover {
  transform: scale(1.2) translateX(80%);
}
.swiper-container .swiper-button-prev:hover {
  transform: scale(1.2) translateX(-80%);
}
.swiper-container .swiper-button-next {
  transform: translateX(100%);
}
.swiper-container .swiper-button-prev {
  transform: translateX(-100%);
}
.swiper-container .swiper-pagination {
  transform: translateY(200%);
}
.swiper-container .swiper-pagination-bullet {
  background: #7c00ba;
  width: 15px;
  height: 15px;
}

.pics {
  width: 700px;
  height: 500px;
}

.carousel-inner {
  position: relative;
  left: 30vw;
  top: 10vh;
}

.carousel-control-next-icon{
  position: relative;
  left: 30vw;
  top: 7vh;
}

.carousel-control-prev-icon{
  position: relative;
  right: 24vw;
  top: 7vh;
}

/* Estilos para el pie de página */
footer {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px 0;
}

#promociones .top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

#promociones .container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

#promociones .card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

#promociones .promo1 {
	background-image: linear-gradient(#0c338980, #23022680),
		url(../img/img_dulce1.jpg);
	background-size: cover;
  height: 300px;
  border-radius: 25px;
	background-position: bottom;
	background-repeat: no-repeat;
}

#promociones .promo2 {
	background-image: linear-gradient(#0c338980, #23022680),
		url(../img/img_promo1.jpg);
	background-size: cover;
  height: 300px;
  border-radius: 25px;
	background-position: bottom;
	background-repeat: no-repeat;
}

#promociones .promo3 {
	background-image: linear-gradient(#0c338980, #23022680),
		url(../img/img_promo2.jpg);
	background-size: cover;
  height: 300px;
  border-radius: 25px;
	background-position: bottom;
	background-repeat: no-repeat;
}


#promociones .card h5 {
	font-size: 2.5rem;
  text-align: center;
  padding-top: 30%;
	color: #fff;
	position: relative;
}

#promociones .card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

#promociones .card-category span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

#promociones .card-category span:hover {
	color: var(--primary-color);
}

@media (max-width: 480px) {
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
      display: none;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

